##################################
# .NET
##################################
bin/
obj/
*.user
*.suo
*.cache
*.log

##################################
# Visual Studio
##################################
.vs/
.vscode/

##################################
# Angular / Node
##################################
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

##################################
# Environment / Secrets
##################################
appsettings.Development.json
appsettings.Local.json
.env

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Build outputs
##################################
publish/
coverage/
